.navContainer{
    background-color: aqua;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:20px;
}
.iconsContainer{ 
}
.searchInput{
    padding:10px;
    border-radius: 5px;
    border:none;
    margin-left: auto;
}
.icon {
    font-size: 24px;
    color: red;
}

